.calendar {
  max-width: max-content;
  min-width: 250px; /* breaks if smaller */
  margin: auto;
  padding: 1.5em;
  background-color: var(--white);
  border: 2px solid var(--primary);
  font-size: 10px;
}

@media (min-width: 320px) {
  .calendar {
    font-size: 12px;
  }
}
@media (min-width: 420px) {
  .calendar {
    font-size: inherit;
  }
}

/* For the month */
.month-indicator {
  color: var(--text-primary);
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  time {
    font-size: 1.25rem;
  }
}

.month-indicator button {
  padding: 0;
  border-radius: 50%;
  width: 4.5ch;
  height: 4.5ch;
  border: 0.1rem solid var(--accent);
  background-color: transparent;
}

/* CSS grid used for the dates */
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "Sun Mon Tue Wed Thu Fri Sat";
}

/* Styles for the weekday/weekend header */
.day-of-week {
  margin-top: 1.25em;
}

.day-of-week > * {
  font-size: 0.9em;
  color: var(--text-primary);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

/* Dates */
.date-grid {
  margin-top: 0.5em;
}

/* Style for each day */
.date-grid button {
  position: relative;
  border: 0;
  padding: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: var(--textNormal);
  cursor: inherit;
  font-size: inherit;
  background-image: none; /* hides animation */
  animation: none; /* hides animation */
}

.date-grid button.has-event {
  background-color: var(--accent);
}
