.blog-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);

  &.featured {
    background-color: var(--accent);

    .blog-preview__content {
      .tag {
        background-color: var(--white);
        color: var(--accent);
      }
    }

    .blog-preview__footer {
      .button {
        background-color: var(--white);
        color: var(--accent);
      }
    }
  }

  &__header {
    .featured-thumbnail {
      display: flex;
      justify-content: center;
    }
    img {
      max-width: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    h3 {
      margin-bottom: 0;
    }

    &__excerpt {
      padding-top: 1rem;
      margin-bottom: 0;
    }
  }

  &__footer {
    display: flex;
    padding: 0 1rem 1rem 1rem;
  }

  // Medium devices (large tablets, computers and up)
  @media (min-width: 1080px) {
    width: 100%;
  }
}
