.button-link {
  text-decoration: none;
  border: 2px solid;
  border-radius: 6px;
  margin: 10px;
  width: 250px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    transform: scale(1.05);
  }
}
