.classes {
  padding: 1rem;
  &__hero {
    max-width: 1170px;
    margin: auto;
    width: 100%;
    color: var(--text-primary);

    &__subtitle {
      font-family: inherit;
      font-weight: 400;
      font-size: 1.17rem;
      margin: 0;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    &__hero {
      &__subtitle {
        font-size: 1.5rem;
        line-height: 3rem;
      }
      padding: 2rem 1rem;
    }
  }
}
