.classes {
  padding: 1rem;
  &__hero {
    max-width: 1170px;
    margin: auto;
    width: 100%;
    color: var(--text-primary);

    &__subtitle {
      font-family: inherit;
      font-weight: 400;
      font-size: 1.17rem;
      margin: 0;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    &__hero {
      &__subtitle {
        font-size: 1.5rem;
        line-height: 3rem;
      }
      padding: 2rem 1rem;
    }
  }
}

.ClassPanel {
  max-width: 1170px;
  margin: auto auto 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  &__filter-form {
    .filter-group {
      margin: 0 0 1rem;

      &__label {
        text-transform: capitalize;
      }

      &__options {
        padding: 0;
        list-style-type: none;

        &__item {
          input[type="checkbox"] {
            margin-right: 0.25rem;
          }
          label {
            font-weight: normal;
            font-family: var(--fontStack);
          }
        }
      }
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    grid-template-columns: 240px 1fr;
    grid-gap: 1rem;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    grid-template-columns: 320px 1fr;
    grid-gap: 2rem;
  }
}
