.blog-page {
  padding: 0;
  &__header {
    height: 100px;
    background-color: var(--accent);

    h1 {
      background-color: transparent;
      text-align: center;
      margin: 0;
      line-height: 100px;
    }
  }

  &__content {
    padding: 1rem;
    display: grid;
    grid-gap: 2rem;
    grid-auto-columns: auto;

    @media (min-width: 576px) {
      // two column on landscape phone
      grid-template-columns: repeat(2, 1fr);
    }

    // Medium devices (large tablets, computers and up)
    @media (min-width: 1080px) {
      padding: 4rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
