.course-hero {
  background-color: var(--primary);
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100rem;

  margin: auto;
  padding: 2.25rem 2rem 3rem;
  position: relative;
}

@media screen and (min-width: 960px) {
  .course-hero {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 4rem 5%;
  }
}

.course-hero__text {
  margin-left: 2rem;
  margin-top: 1rem;
}

.course-hero__text__byline {
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.course-hero__text__writeup {
  font-size: 1rem;
  margin-bottom: 2rem;
  max-width: 26.25rem;
}

.course-hero__card {
  background-color: #fff;
  border-radius: 0.5rem;
  justify-self: right;
  padding: 2rem;
  max-width: 26.25rem;
  width: auto;
  z-index: 2;
}

.course-hero__card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-weight: 700;
}

.course-hero__card__detail-title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.course-hero__card__detail-title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.course-hero__card__detail-content {
  font-size: 1.25rem;
  font-weight: 700;
}

.course-hero__card__detail-content .highlight {
  box-shadow: inset 0 -0.8rem var(--accent), inset 0 0 var(--accent);
  font-style: normal;
}

ul.course-hero__card__detail-content {
  padding-left: 1.25rem;
  margin: 0;
}

.course-hero__card__detail-content li {
  margin-bottom: 0;
}

.course-hero__text {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 620px;
  z-index: 2;
}
