.Location {
  &__hero {
    margin: 0 0 2rem 0;
    padding: 1rem;
    color: var(--text-alt);
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 1fr;

    .leaflet-container {
      box-sizing: border-box;
      min-height: 260px;
      width: 100%;
    }
  }

  // Medium + large devices (660px and up)
  @media (min-width: 660px) {
    &__hero {
      grid-template-columns: 320px 850px;
      grid-gap: 4rem;
      align-items: center;
      padding: 2rem;

      &--online {
        padding: 2rem 1rem;
        grid-template-columns: 1fr;
      }

      .leaflet-container {
        box-sizing: border-box;
        min-height: 260px;
        width: 100%;
      }
    }
  }
}
