.locations {
  padding: 1rem;
  &__hero {
    max-width: 1170px;
    margin: auto;
    width: 100%;
    color: var(--text-primary);

    &__title {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    &__subtitle {
      font-family: inherit;
      font-weight: 400;
      font-size: 1.17rem;
      margin: 0.5rem 0;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    &__hero {
      &__title {
        margin: 1.75rem;
      }
      &__subtitle {
        font-size: 1.5rem;
        line-height: 3rem;
        margin: 1.75rem;
      }
      padding: 2rem 1rem;
    }
  }
}

.LocationsPanel {
  max-width: 1170px;
  margin: auto;
  border: 1px solid var(--hr);
  min-height: 10rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;

  &__header {
    text-align: center;
    border-bottom: 1px solid var(--hr);

    &__title {
      margin: 0.5rem;
    }

    .locations-list {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      margin: 0;
      padding: 0;
      justify-content: center;

      &__item {
        button {
          cursor: pointer;
          background-color: transparent;
          border: 0;
          padding: 0.25rem 0.85rem;
          margin: 4px;
          border-bottom: 4px solid currentColor;
        }

        &--active {
          button {
            border-bottom-color: var(--accent);
          }
        }
      }
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;

    &__details {
      h3 {
        font-size: 1.5rem;
      }
      .leaflet-container {
        height: 100px;
        width: 100%;
        box-sizing: border-box;
      }
    }
    &__offerings {
      h4 {
        font-size: 1.25rem;
      }
    }
  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    &__header {
      &__title {
        margin-bottom: 2rem;
      }
    }
    &__main {
      grid-template-columns: 240px 1fr;
      grid-gap: 1rem;

      &__details {
        .leaflet-container {
          min-height: 370px;
        }
      }
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    &__main {
      grid-template-columns: 320px 1fr;
      grid-gap: 2rem;
    }
  }
}
