.collect-payment-page {
  min-height: 50vh;
}

.collect-payment-page .card-checkout {
  max-width: 500px;
}

.card-checkout label {
  font-weight: bold;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  padding: 10px 14px;
  font-size: 1.15rem;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

.StripeElement input::placeholder {
  color: #aab7c4;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.card-error {
  margin-bottom: 1.75rem;
}

.card-error__message {
  color: var(--error);
}

.card-error p {
  margin-bottom: 0.5rem;
}
