.courseOfferings {
  max-width: 1170px;
  margin: auto auto 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  padding: 0 .5rem;

  @media (min-width: 520px) {
    grid-template-columns: auto 1fr;
  }

  &__filter-form {
    margin-top: 4rem;

    .filter-group {
      margin: 0 0 1rem;

      &__label {
        text-transform: capitalize;
      }

      &__options {
        padding: 0;
        list-style-type: none;

        &__item {
          input[type="checkbox"] {
            margin-right: .25rem;
          }
          label {
            font-weight: normal;
            font-family: var(--fontStack);
            cursor: pointer;
          }
        }
      }
    }
  }
}



.class-category-offering__title {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.class-category-offering__title h2 {
  margin-right: 1.5rem;
}

.offering-list, .class-category-offering__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.class-category-offering__list__item {
  display: grid;
  grid-template-columns: 14rem 14rem 2fr 1fr;
  grid-template-areas: "icon overview details actions";
  grid-gap: 0.5rem;
  height: 13rem;
  align-items: flex-start;
  margin-bottom: 0rem; /* clears li */
  padding: 1rem;
  border-top: 0.1rem solid var(--hr);
  box-sizing: border-box;
}

/* clear margin */
.class-category-offering__list__item h3,
.class-category-offering__list__item h4,
.class-category-offering__list__item li,
.class-category-offering__list__item strong,
.class-category-offering__list__item p {
  margin: 0;
}

.class-category-offering__list__item .icon,
.course-hero__card .icon {
  font-family: var(--fontStack--heading);
  font-size: 10rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding-right: 2rem;
  grid-area: icon;
}

.class-category-offering__list__item .overview {
  position: relative;
  margin-top: 30px;
  grid-area: overview;
}

.class-category-offering__list__item .overview:before {
  content: "";
  display: block;
  background: var(--primary-btn);
  height: 125%;
  width: 0.5rem;
  transform: translateX(-50%);
  position: absolute;
  left: -0.75rem;
  top: -0.25rem;
}

.class-category-offering__list__item .overview__time {
  margin-top: 0.5rem;
}

.class-category-offering__list__item .overview__weekdays {
  margin-top: 0.5rem;
}

.class-category-offering__list__item .details {
  grid-area: details;
  list-style: none;
  margin: 2rem auto;
  padding: 0;
}

.class-category-offering__list__item .details .near-capacity {
  color: var(--dark);
  text-decoration: solid underline var(--accent);
}

.class-category-offering__list__item .actions {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  grid-area: actions;
  margin: auto;
  width: 100%;
}

.class-category-offering__list__item .actions .sign-up {
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 64rem) {
  .class-category-offering__list__item {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "icon overview details"
      "actions actions actions";
    height: auto;
    align-items: center;
    grid-gap: 1rem 0;
  }
  .class-category-offering__list__item .overview {
    margin-top: 0;
  }
}

@media (max-width: 50rem) {
  .class-category-offering__list__item {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "icon overview"
      "details details"
      "actions actions";
    height: auto;
    grid-gap: 1rem 0;
  }
  .class-category-offering__list__item .icon {
    font-size: 8rem;
    text-align: right;
  }
}
