/* cta-contact */

.cta-contact {
  background-color: var(--primary);
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;

  @media (min-width: 576px) {
    padding: 4rem;
  }
}

.cta-contact__title {
  font-size: 3rem;
  margin: 1rem auto;
  line-height: 3.5rem;
  color: var(--backgroundAlt);
  letter-spacing: inherit;
  text-transform: none;
}

@media screen and (min-width: 960px) {
  .cta-contact__title {
    font-size: 70px;
    line-height: 76px;
  }
}

.cta-contact__secondary {
  font-size: 1.25rem;
  color: var(--backgroundAlt);
}
