.Navbar {
  &__container {
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu {
      display: flex;
      flex-flow: row wrap;
    }
  }
}
