.Footer {
  padding: 3rem 0;
  background-color: var(--background);

  &__content {
    max-width: 1200px;
    margin: auto 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    .social-links {
      display: flex;
      gap: 1rem;
      margin: 0.5rem 0;
      a {
        padding: 0.5rem 0.5rem 0.3rem 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;
        display: inline;
      }
    }

    @media screen and (min-width: 558px) {
      margin: auto;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;

      &__center {
        // to align with text of the logo
        margin-top: 1rem;
      }
    }

    @media screen and (min-width: 1080px) {
      column-gap: 6rem;
    }
  }

  &__bottom {
    text-align: center;
  }


  &__list {
    list-style: none;
    margin: 0 0 1rem;
    padding: 0;
    text-indent: -1em; // align wrapped links

    &__link {
      line-height: 1.15;
      padding: 0.5rem 0.75rem;
      color: inherit;
      transition: scale 222ms ease;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.newsletter {
  h4 {
    margin-top: 0;
  }
}
