.header-and-markdown-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__heading {
    margin: 0px;
    flex: 1 1 300px;

    &__buttons {
      padding-top: 1rem;
    }
  }

  &__content {
    margin: 0px;
    flex: 1 1 300px;

    h1, h2, h3, h4, h5, h6 {
      &:first-of-type {
        margin-top: 0;
      }
    }

    p:last-of-type {
      margin-bottom: 0px;
    }
  }

 @media only screen and (min-width: 768px) {
   gap: 2rem;
 }
}
