.reviews {
  &__header {
    text-align: center;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
  }
}
