.blog-page {
  padding: 0;
  &__header {
    height: 100px;
    background-color: var(--accent);

    h1 {
      background-color: transparent;
      text-align: center;
      margin: 0;
      line-height: 100px;
    }
  }

  &__content {
    padding: 4rem;
  }
}
